<div class="background-container">
    <img src="assets/images/modulos.png" class="background-image" alt="Fondo">
    <div class="container">
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <div class="text-center font-sans text-black font-bold text-3xl antialiased pb-10 mt-10">
        Añadir Modulo
      </div>
      <form (submit)="handleSubmit()">
        <div class="form-group">
          <label>Número:</label>
          <input type="number" name="numero" [(ngModel)]="formData.numero" required />
        </div>
        <div class="form-group">
            <label>Descripción:</label>
            <input type="text" name="descripcion" [(ngModel)]="formData.descripcion" required />
        </div>


        <div class="form-group">
            <label>Facultad:</label>
            <select name="facultad_id" [(ngModel)]="formData.facultad_id" required>
                <option value="" disabled selected>Seleccione una facultad</option>
                <option *ngFor="let facultad of facultades" [value]="facultad.id">{{ facultad.nombre }}</option>
            </select>
        </div>



        <button type="submit">Guardar</button>
      </form>
    </div>
  </div>
  